* {
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent; /* For some Androids */
outline: none;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	font-size: 100%;
	background-color: #000;
	background-image: url(bokeh.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.whitelayer {
	background-color: #000;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	color: #440002;
	margin-right: auto;
	margin-left: auto;
}
#loadpics {
	margin-top: 10px;
}
.blurred {
	-webkit-filter: blur(10px);
}

.slicknav_menu {
	display: none;
	position: absolute;
	z-index: 1000;
	top: 10px;
	right: 10px;
}

	.js #menu {
	display: none;
	}
	
	.js .slicknav_menu {
		display:block;
	}



















#mainbar {
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 100;
	background-image: url(../img/logo_on_dark.png);
	top: 0px;
	text-align: center;
	background-color: rgba(0, 102, 52, 0.84);
	background-repeat: no-repeat;
	background-size: auto 80%;
	background-position: center center;
}

@media screen and (max-width: 40em) {

}
