<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "net.gormahia.fans"
        versionCode = "2" 
        version     = "2.0.0" >

    <name>Gor Mahia FC</name>

    <description>
		Gor Mahia FC Official Fan App 
    </description>

    <author href="https://www.jthglobal.com" email="info@jthglobal.com">
        JTH Global
    </author>
	
	<icon src="icon.png" />
		
	<preference name="android-minSdkVersion" value="9" /> 
	<preference name="android-targetSdkVersion" value="19" />
	
	<!-- Core plugins -->
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
	
	<gap:plugin name="com.parse.cordova.core.pushplugin" />
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" />
	<gap:plugin name="ca.purplemad.wallpaper" />
	<gap:plugin name="it.mobimentum.phonegapspinnerplugin" />
	
	<access origin="*"/> <!-- allow all pages, use for development -->

</widget>